In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Section 1:  Creating new columns and parsing strings

In [4]:
df = pd.read_csv('https://www.dropbox.com/s/0h3rmlri52s0enf/Results.csv?dl=1')

In [6]:
df.head()

,Unnamed: 0,File,Area,Density1,Density2,Density3
0,0,.\20230104_150625_450\Plate004_Well1_Object11.tif,642494,191,164,201
1,1,.\20230104_150625_450\Plate003_Well1_Object5.tif,3797429,610,467,361
2,2,.\20230104_150625_450\Plate000_Well4_Object7.tif,4098536,1124,963,662
3,3,.\20230104_150625_450\Plate005_Well3_Object6.tif,2770975,928,828,321
4,4,.\20230104_150625_450\Plate004_Well3_Object9.tif,2747875,516,472,345

This data is from a simple experiment where we have the filename, an Area in pixels, and multiple columns of "Density".  These are images of flatworms that have had the total number of TUNEL positive cells counted (Density1) the total number of H3p positive cells counted (Density3) and the Area in pixels.

### Question 1:  Get rid of the column "Density2", we will not need it

### Question 2:  Rename the column "Density1" to "TUNEL" and "Density3" to "H3p"

### Question 3:  Find the ACTUAL density, and replace the "TUNEL" column to be the density (instead of the counts) and the "H3p" column to be the density (instead of the counts).

The actual density is the number of cells divided by the area.  You will need to use the "Area" column to do this.

Once you have the density in terms of per pixels, convert it to per mm^2 by multiplying by 1643655

### Question 4:  Create 4 new columns, "Batch", "Plate", "Well", "Object"

Batch is the part of the file name between the two slashes.

You might find that your df['Plate'] contains some leading zeros.  That is because it converted it to a string and not an integer.   Look up .astype(...) to see how to convert it to an integer (do the same for Well and Object)

# Section 2:  Merging and aggregating

In [9]:
mapper_df = pd.read_csv('https://www.dropbox.com/s/pio1ju02fswineg/Map.csv?dl=1')

In [10]:
mapper_df.head()

,Slide No.,Primary name,secondary name,Batch,Plate,Well
0,Slide1,unc-22 RNAi 5dpf,"TUNEL (CY3), H3P (Alexa-488), DAPI",20230104_150625_450,0,1
1,Slide2,Agat-1 RNAi 5dpf,"TUNEL (CY3), H3P (Alexa-488), DAPI",20230104_150625_450,0,2
2,Slide3,Agat-2 RNAi 5dpf,"TUNEL (CY3), H3P (Alexa-488), DAPI",20230104_150625_450,0,3
3,Slide4,Agat-3 RNAi 5dpf,"TUNEL (CY3), H3P (Alexa-488), DAPI",20230104_150625_450,0,4
4,Slide5,unc-22 RNAi 7dpf,"TUNEL (CY3), H3P (Alexa-488), DAPI",20230104_150625_450,1,1

### Question 1:  Use the df.merge function to merge the two dataframes together.  Use the "Batch", "Plate", "Well", and "Object" columns to merge on.

df.merge has a "how" argument, you will need to figure out what to put there (if anything) to make sure you keep all of the df dataframe and merely add "Slide No.", "Primary name", and "secondary name" columns to it.

In [5]:
df

,Unnamed: 0,File,Area,Density1,Density2,Density3
0,0,.\20230104_150625_450\Plate004_Well1_Object11.tif,642494,191,164,201
1,1,.\20230104_150625_450\Plate003_Well1_Object5.tif,3797429,610,467,361
2,2,.\20230104_150625_450\Plate000_Well4_Object7.tif,4098536,1124,963,662
3,3,.\20230104_150625_450\Plate005_Well3_Object6.tif,2770975,928,828,321
4,4,.\20230104_150625_450\Plate004_Well3_Object9.tif,2747875,516,472,345
...,...,...,...,...,...,...
342,342,.\20230104_150625_450\Plate003_Well1_Object14.tif,1228691,127,117,296
343,343,.\20230104_150625_450\Plate004_Well2_Object17.tif,1535163,228,195,639
344,344,.\20230104_150625_450\Plate001_Well1_Object7.tif,4628559,864,693,270
345,345,.\20230104_150625_450\Plate005_Well3_Object9.tif,1766980,978,885,218
346,346,.\20230104_150625_450\Plate003_Well1_Object4.tif,3721509,343,318,397

### Question 2:  Use groupby and agg to find the count, median, and stdev for each "Primary name"

### Question 3:  Use .hist() on the "TUNEL" column to plot a histogram of the TUNEL density

Some of the values are very low, because the image file was actually not of a worm but of a piece of junk.  Try to find a cutoff below which you suspect the TUNEL value must be junk.

### Question 4:  Use a cutoff to make a new df called filtered_df that only includes rows where the TUNEL density is above the cutoff

### Question 5:  Redo question 2 on filtered_df to see how much the standard deviations are impacted after filtering

### Bonus question:  instead of simply filtering out the low values, try to find a way to replace them with the median value of the TUNEL density.

This is a bit tricky, but it is possible to do it in one line of code.  Hint:  you will need to use .loc and a boolean mask

By the way, the previous block was generated entirely by GPT after "Bonus question:  instead..."