This chapter introduces the last necessity of structured programming:
The ability to repeat a segment of code.
## for loops
First, the easy one: `for`.
for does something a set number of times. Here's the syntax:

In [1]:
def iteration():
    for var in range(0, 10):
        print("I'm in the loop!")
    print("I'm out of the loop!")

    # var is the name of a variable. At the beginning of
    # each pass, it will be increased by one.
    # We can use var inside the loop, thus:

    for var in range(0, 10):
        print("var is ", var)
    print("the loop is done.")

In [2]:
iteration()

I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm in the loop!
I'm out of the loop!
var is  0
var is  1
var is  2
var is  3
var is  4
var is  5
var is  6
var is  7
var is  8
var is  9
the loop is done.

If you run that, you'll see that var takes on the values from zero to nine.
(the reason it's not 0 to 10 is that you'd pass through the loop eleven times
if you did that - more on this later.)

Example: the factorial function.
`factorial(5)` is defined to be `5*4*3*2*1`. We'll use a variable to accumulate
the product.

In [10]:
def factorial(numberToFact):
    accum = 1
    for i in range(1,numberToFact + 1): # numberToFact + 1 so it actually gets
                                        # the last one.
        accum = accum * i
    print (numberToFact, " factorial is ",accum)
    return accum

In [11]:
print(factorial(5))

5  factorial is  120
120

In [7]:
factorial(factorial(3))

3  factorial is  6
6  factorial is  720

720

## The `while` loop.

This is a more general version of the `for` loop.

```
while(condition):
   stuff to do.
stuff to do after condition is false.
```

In [3]:
def whileDemo():
    a = 1
    b = 20
    while(a <= b):
        a = a + 1
    print(" a is ", a, " and b is ",b)

The danger with `while` loops is that condition may never become false.
Consider the following:
```
a = 1
b = 2
while (a < b):
    b = b + 1
print("Done.")
```

This loop will never terminate, because a will never be greater than b. 

If you know how many times you want something in a loop to happen, use a `for`.
Only use `while` loops if the end condition is bizarre.

## Exercises

1. write a function to list every number from 1 to 1000 (including 1000) that
is divisible by both three AND five.

In [4]:
def threeFive():
    pass

2. Write a function that checks to see if each letter in a string is a valid
DNA base. It should return 0 if there were no invalid letters, or the number
of invalid letters otherwise. You can use `len(stringName)` to calculate the
length of a string.

In [5]:
def numInvalidBases(dna):
    pass

3. The Collatz conjecture is an interesting mathematical puzzle.
It says:
* Pick a number n.
* If n is even, divide it by two.
* If it's odd, multiply it by three and add one.

If you repeat this process (dividing or multiplying and adding) enough
times, you'll eventually get to one.
As an example, if we start with the number 7,
* 7 is odd, multiply by three and add one. => 22
* 22 is even, divide by two. => 11
* 11 is odd, multiply by three and add one. => 34
* 34 is even, divide by 2. => 17.

and so on. 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5
        -> 16 -> 8 -> 4 -> 2 -> 1
        
It is believed that every (positive) number converges to 1 eventually.
Write a function to generate this sequence for a given number.
Have it print each number in the path. Check the program by running 7.
You should get the exact same sequence as seen above.
Then, try the number 13. How many steps does that take?

In [6]:
def collatz(initialNumber):
    pass