## Let's do some data science

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](http://colab.research.google.com/github/jayunruh/python_introDS_course/blob/master/intro_to_python04_pandas.ipynb)

## Do the imports

When doing data science things you are often reading many data files from
nested directories. We will use the standard python packages `os` and `glob`
to help with that.

We will be using pandas for data analysis; it is typically imported with a nickname (like numpy is).
```python
import pandas as pd
```

We can also import `numpy` in case we need it.

Remember, you can always add more packages to import later on by adding them to the cell and rerunning it.

In [ ]:
import os
import glob

import pandas as pd
import numpy

## The Data

### 2019 KC Corporate Challenge 5k

#### Description
This data set is the final results of the Corporate Challenge 5k race. Like most road races, runners are placed in divisions for mens/womens and age range. This dataset also has the company/organization the runner works for, and a division based on the size of the company.

The data is in multiple csv files base on age and m/w in the foleder `Data`

In [ ]:
### Use os to list the files (notice they aren't sorted)

files = os.listdir("Data")
files

In [ ]:
### Us glob to list the files
gfiles = glob.glob("Data/Results*.csv")
gfiles

In [ ]:
### Us glob to list the files starting with W
w_gfiles = glob.glob("Data/*W*.csv")
w_gfiles

### Read some data
The read one of the files from the glob list

In [ ]:
print(gfiles[5])
df5 = pd.read_csv(gfiles[5])

In [ ]:
'''
Look at the dataframe
what are the columns and rows, etc.
'''
df5

In [ ]:
'''Look at the dataframe with head/tail/sample'''
df5.sample(10)

### Accessing columns
To access the data in columns, either a dot with column name or
dictionary key type syntax can be used:

```python
xdiv1 = df.Div

xdiv2 = df['Div']
```

This can't be done if the column name has as space, like `Last Name` (or other ridiculousness).

I like using the the dot, and spaces have a way of messing things up.

In [ ]:
df5[["First Name", "Last Name"]]

In [ ]:
### make new columns from existing columns

df5["name"] = df5["First Name"] + " " + df5["Last Name"]
df5.sample(5)

### Read all of the data
We want to read all of the csv files and combine them into one dataframe.

Each row in the dataframe will need a label to identify what file it came from, so we can group by age, etc.

In [ ]:
## write a function that returns the M or W and the the age group
def extract_group(filename):
    '''
    Extract the group from the filename
    
    Parameters
    ----------
    filename : str
        The name of the csv file for the group
        
    Returns
    -------
    m_or_w, age : tuple(str, int)
    '''
    basename = os.path.basename(filename)
    base = basename[:-4]
    base_split = base.split("_")
    m_or_w = base_split[1][0]
    age = int(base_split[1][1:])  ## is this what we want?
    return m_or_w, age

In [ ]:
#extract_group?

In [ ]:
gfiles[3]

In [ ]:
extract_group(gfiles[3])

In [ ]:
df_list = list()

for f in gfiles:
    m_or_w, age = extract_group(f)
    temp_df = pd.read_csv(f)
    temp_df['m_or_w'] = m_or_w
    temp_df['age'] = age
    df_list.append(temp_df)
    
df = pd.concat(df_list)
df

In [ ]:
## get rid of the columns that are not meaningful ('Unnamed: 0')
df = df.drop(['Unnamed: 0'], axis=1)

In [ ]:
df.Company.unique().shape

### Company Divisions

Companies are placed in divisions based on there number of employees. The division for each company is
listed in Data/divisions.csv.

Read divisions.csv into a dataframe and merge that with the dataframe `df`

In [ ]:
div_df = pd.read_csv("Data/divisions.csv")
div_df

In [ ]:
### Use merge to combine the two dataset

df = df.merge(div_df, left_on=['Company'], right_on="company_name")

In [ ]:
### make new columns from existing columns
### name from First Name and Last Name
df["name"] = df["First Name"] + " " + df["Last Name"]
df.sample(5)

### Column data dtype

Look at the data type of each column to see if it makes sense

In [ ]:
df.dtypes

### The Time column is a str

This will need to be converted to a float to do any ranking or math. This will involve String functions and type conversions.

In [ ]:
## mess around with df str functions
s = "1:23:45.5"
s.split(":")

In [ ]:
## pandas str functions

df["Company"].str.split(" ").str[1]

### work on the Time column

What do you get when splitting with ":"

```python
df.Time.str.split(":")
df.Time.str.split(":").str.len()
```

In [ ]:
### How to use split on a series
df.Time.str.split(":")

In [ ]:
### How to use split on a series

df.Time.str.split(":").str.len().unique()

In [ ]:
### Use str indexing
### be aware of NaNs

df.Time.str.split(":").str[-3]

In [ ]:
 '''
Make a new column that is the time in minutes as a float

Use the str split and str indexing.
Make a new series for seconds, minutes and hours, then do some math
to make a minutes column
'''

seconds = df.Time.str.split(":").str[-1].astype('float')
minutes = df.Time.str.split(":").str[-2].astype('float')
hours = df.Time.str.split(":").str[-3].astype('float').fillna(0)

df['minutes'] = 60*hours + minutes + seconds/60
df

### Column mapping

Another way to do this is mapping the values in a column to a function. The function is run on every entry in the column

In [ ]:
def time_to_minutes(x):
    sp = x.split(":")
    seconds = float(sp[-1])
    minutes = float(sp[-2])
    if len(sp) == 3:
        hours = float(sp[0])
    else:
        hours = 0
    
    return 60*hours + minutes + seconds/60

time_to_minutes('24:2.0')

In [ ]:
df['minutes2'] = df.Time.map(time_to_minutes)
df

In [ ]:
### Runners like to know the pace they run in km/minute or miles/minute
### columns can be added by doing some math

race_length = 5
df['k_pace'] = (df.minutes)/race_length
df['mile_pace'] = (df.k_pace/0.621371)
df

In [ ]:
### look at the stats of the times

df.minutes.describe()

In [ ]:
## looks at some of the stats functions on the mintutes column

df.minutes.min(), df.minutes.max(), df.minutes.median(), df.minutes.mean()

In [ ]:
# show a histogram using the pandas ploting functions
df.minutes.hist(bins=50)

In [ ]:
### multiple selections with &
### how is >= 50 years old and runs faster than 20 minutes?

df[(df.minutes < 20) & (df.age > 50)]

In [ ]:
df[(df.Div == 'D') & (df.age == 50) & (df.m_or_w == 'M')]

In [ ]:
### Use groupby to show stats for various groupings

df.groupby(['Div', 'age', 'm_or_w']).minutes.agg(['min', 'mean', 'max', 'count'])

In [ ]:
### Use groupby to find the place of runners in their division

df['div_place'] = df.groupby(['Div', 'age', 'm_or_w']).minutes.rank('min')
df.sort_values("div_place")

In [ ]:
### Score like a track meet, points for the top 8 finishers in each group
### remember map put in an NaN if a map key doesn't exist

points_map = {1:10, 2:8, 3:6, 4:5, 5:4, 6:3, 7:2, 8:1}

df["div_points"] = df["div_place"].map(points_map)
df["div_points"] = df["div_points"].fillna(0)
df

In [ ]:
### who are the winners of each division

winners = df[df['div_points']==10].sort_values('minutes')
winners

In [ ]:
winners.Company.value_counts()

### Selecting data

In [ ]:
### Select winners from one Div

winners[winners.Div == 'D'][["name", "Company", "m_or_w", "age", "minutes"]].sort_values("age")

In [ ]:
## How many points did each company score
### Add up the points accumulated by each company using a groupby aggregation
### use 'Div', and  'Company' in the groupby
### store the result in a new dataframe
score_df = df.groupby(['Div', 'Company'])['div_points'].sum().reset_index()
score_df

In [ ]:
### Calculate the place each company was in its division

score_df["meet_place"]= score_df.groupby(['Div'])['div_points'].rank("min", ascending=False)
score_df

In [ ]:
score_df[score_df['Div'] == 'D'].sort_values(["meet_place"])

### using loc and iloc

In [ ]:
### iloc uses numerical indices for slicing

df.iloc[1000:1010, 1:5]

In [ ]:
df.loc[df.Company.str.startswith('Stowers'), 'name']

In [ ]:
df.loc[df['First Name']=="Janet"]

### Change the names of Sprint and Cerner
Sprint merged with T-Mobile and Cerner was bought be Oracle

In [ ]:
df[df.Company == 'Sprint']['Company'] = "T-Mobile"

In [ ]:
rename_dict = {'Sprint':'T-Mobile', 'Cerner Corporation':'Oracle'}

for k, v in rename_dict.items():
    df.loc[df.Company == k, 'Company'] = v